@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
	--text-clr: white;
}

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

	background: black;
	background-repeat: no-repeat;
	background-size: cover;

	/*CENTER*/
    text-align: center;
    padding: 35vh 0;
}
.container::after{
	content:'';
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 20%, black 150%);
}



h1{
    font-size: 100px;
    font-weight: 900;

    color: var(--text-clr);
	
    font-family: sans-serif;
	text-decoration: 3px var(--text-clr) underline;
	text-underline-position: below;
}



h2{
    font-size: 45px;
    font-weight: 600;
    color: var(--text-clr);
    font-family: Arial, serif;
}

.glow{
	text-shadow: var(--text-clr) 0px 0px 10px;
}


select{
    position: absolute;
    top: 1em;
    left: 1em;
    box-shadow: 0;
    background:transparent;
    color: var(--text-clr);
    text-align: center;
    border: none;
    /* -webkit-appearance: none; */
}

select::-ms-expand {
    display: none;
}